@import './global.scss';
@import './panel.scss';
@import './account-panel.scss';
@import './text-input.scss';
@import './side-bar.scss';

body {
	background-color: var(--bg-2);
}

main-app {
	display: flex;
	height: 100%;
}
