@import './global.scss';
@import './panel.scss';
@import './account-panel.scss';
@import './text-input.scss';
@import './side-bar.scss';
@import './chat-area.scss';

body {
	background-color: var(--bg-2);
	--sidebar-width: 18rem;
	--chat-padding: 2rem;
}

main-app {
	display: flex;
	height: 100%;
}

// Mobile
@media (max-width: 500px) {
	body {
		--chat-padding: 1rem;
	}

	main-app {
		flex-direction: column;
		align-items: stretch;
	}
}
