@import './global.scss';
@import './panel.scss';
@import './account-panel.scss';
@import './text-input.scss';
@import './side-bar.scss';
@import './chat-area.scss';

body {
	background-color: var(--bg-2);
	--sidebar-width: 18rem;
	--chat-padding: 2rem;
}

main-app {
	display: flex;
	height: 100%;
}

#menu {
	display: none;
}

// Mobile
@media (max-width: 800px) {
	body {
		--chat-padding: 1rem;
	}

	side-bar {
		position: absolute;
		transform: translateX(-100%);
	}

	body.menu {
		side-bar {
			transform: translateX(0%);
		}

		chat-area {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	#menu {
		position: fixed;
		display: block;
		top: 1rem;
		left: 1rem;
		font-size: 1.5rem;

		&:not(:hover) {
			color: var(--txt-3);
		}
	}
}
